@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    font-family:'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Prata', serif;
    font-weight: 300;
    text-transform: uppercase;
}
.titulos {
    text-align: center;
    margin-top: 15px;
    padding: 15px;
    font-size: 30px;
    line-height: 30px;
}
.subtitulo{
    font-size: 13px;
    padding-bottom: 15px;
    font-family: 'Montserrat', sans-serif ;
}
/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px;
    background-color: white;
}
header a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}
.nav__list{
    display: flex;
    list-style-type: none;
}
.nav__list .list__links{
    padding: 0 10px;
}
.boton{
    border: none;
}
.boton a{
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    background-color: #ccc;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #252525;
    text-transform: uppercase;
    transition-duration: 0.8s;
}
.boton a:hover{
    color: white;
    background-color: rgb(77, 128, 221);
    }
/*footer*/
footer{
    box-sizing: border-box;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #252525;
    width: 100%;
    padding: 30px;
    text-decoration: none;
    text-align: left;
    line-height: 22px;
}
footer section{
    padding: 10px;
    max-width: 25%;
}
footer h3{
    font-size: 18px;
    color: white;
}
footer ul li{
    color: white;
    font-size: 15px;
    list-style: none; 
}
footer ul li i{
    padding: .3rem;  
}
.footerMail{
    color: white;
}
.footerMail:hover{
    color: rgb(77, 128, 221);
}
.redesSociales{
    text-align: center;
    margin-top: 20px;
}
.redesSociales i{
    padding: .3rem;
    color: #fffae6;
    cursor: pointer;
}
.redesSociales i:hover{
    color: rgb(77, 128, 221);
}
/*index*/
.indexBackImg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url(../assets/img/bkimgindex.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.formularioCheckin{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    box-sizing:content-box; 
}
.formularioCheckin p{
    border-left: #252525 solid 1px;
    text-align: center;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px;
    cursor: pointer;
    max-width: 146px;
    min-width: 50px;
    width: 100%;
}
.formularioCheckin i{
    padding: .3rem;  
}
.formularioCheckin input{
    border: none;
    text-align: center;
    background: none;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.checkinHuespedes{
    width: 60px;
}
.checkinBtn{
    margin-left: 20px;
    margin:10px 20px;
    padding-right: 20px;
    padding-left: 20px;
    color: #252525;
    background-color:#fffae6;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    transition: .8s;
}   
.checkinBtn:hover{
color: white;
background-color: rgb(77, 128, 221);
}
.contenedorBase{
    display: flex;
    align-items: center;
    justify-content:center;
    margin:30px;
}
.base{
    width: 500px;
}
.base__titulo{
    text-align: left;
    font-size: 30px;
    border-bottom: 0.5px solid #252525;    
}
.base__texto{
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: left;
    line-height: 20px;
    font-size: 18px; 
    line-height: 22px;
}
.base__boton{
    background-color: white;
    border: 2px solid rgb(77, 128, 221);
    color: rgb(77, 128, 221);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
    font-size: 15px;
    transition-duration: 0.8s;
}
.base__boton:hover{
    color: white;
    background-color: rgb(77, 128, 221);
}
.nosotrosImg{
    max-width: 100%;
    padding: 20px;
    padding-left: 10px;
    border: none; 
}
.fondoIndex{
    background-color: #eee8e5;
    padding: 50px;
    line-height: 22px;
}
.contenedorHabIndex{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
.contenedorHabIndex *{
    max-width: 100%;
    width: 400px;
    text-align: left;
    padding: 2px 10px;
    margin: 5px;
}
.habIndex__titulo{
    font-size: 18px;
    border-bottom: 0.5px solid #252525;     
}
.habIndex__icons{
    display: flex;
    max-width: 40%;
    font-size: 15px;
}
.habitacionBoton{
    margin-left: 20px;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition-duration: 0.8s;
    border-bottom: 2px solid rgb(77, 128, 221);
}
.habitacionBoton:hover{
    color: white;
    background-color: rgb(77, 128, 221);
}
/*Actividades*/
.actividadesBackImg{
    background-image: url(../assets/img/pagActividades/backimg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 10%;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.palabra-transform{
    font-family: 'Waterfall', cursive;
    text-transform: lowercase;
    font-size: 100px;
}
.contenedorActividades{
    display: flex;
    justify-content: space-evenly;
    margin: 20px 50px;
}
.contenedorActividades *{
    text-align: center;
    padding: 10px;
}
.actividadesImg{
    width: 90%;
}
.playas{
    background-color: #eee8e5;
}
.perissaImg{
    width: 430px;
    padding: 80px;
    border: none;
}
.lista-playas{
    padding: 20px;
    font-size: 18px;
}
.lista-playas li{
    padding: 10px;
}
/*Sobre Nosotros*/
.nosotrosBackImg{
    background-image: url(../assets/img/pagSobreNos/backimg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.sobreNosImg{
    max-width: 500px;
    padding: 20px;
    border: none;
}
.fondo{
    background-color: #eee8e5;
    padding: 30px;
    line-height: 30px;
    width: 60%;
    margin: 2rem auto; 
} 
.list-facilities{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 50px;
    list-style: none;
}
.boton-facilities{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color:rgb(77, 128, 221);
}
.galleryNos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(2, 20vw);
    justify-content: center;
    gap: 10px;
}
.galleryNos__img {
    width: 100%;
    height: 100%;
}
.galleryNos__item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.galleryNos__item--2{
    grid-column: 2/3 ;
    grid-row: 1/2 ;
}
.galleryNos__item--3{
    grid-column:1/2 ;
    grid-row:3/4 ;
}
.galleryNos__item--4{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}
.galleryNos__item--5{
    grid-column: 2/3 ;
    grid-row:2/4 ;
}
.mapNosotros{
    width: 100%;
}
/*contacto*/
.contactoBackImg{
    background-image: url(../assets/img/pagContacto/backimg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 10%;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.map{
    width: 50%;
    padding: 20px;
}
.contacto-list{
    color: #252525;
    list-style: none;
}
.contacto-list i{
    padding: 5px;
}
.contacto-list a{
    color:#252525;
}
.contacto-list a:hover{
    color: rgb(77, 128, 221);
}
.contenedorFormulario{
    background-color: #eee8e5;
    padding-top: 10px;
}
.formTexto{
    text-align: center;
    padding: 20px 80px;
    list-style: none;
}
.formulario{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
    text-transform: uppercase;
    border-top: 8px solid rgb(77, 128, 221);
    padding: 40px 20px;
    margin-top: 20px;
}
.formularioImg{
    max-width: 60%;
}
.formulario p{
    text-align: left;
    max-width: 400px;
    width: 100%;
    padding-top: 10px; 
}
.formulario input[type=text], [type=email], [type=tel], textarea {
    font-size: 15px;
    width: 400px;
    padding: 12px;
    background: none; 
    border: none; 
    border-bottom: #252525 solid 2px; 
    box-sizing: border-box; 
}
.formulario input[type=submit] {
    background-color: rgb(77, 128, 221) ;
    color: #252525;
    margin-top: 5px;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    float: right
}
.formulario input[type=submit]:hover {
    background-color: rgb(173, 173, 173);
    background: inherit;
    border-bottom: 2px solid rgb(77, 128, 221);
}

/*habitaciones*/
.habitacionesBackImg{
    background-image: url(../assets/img/habitaciones/backImgHabitaciones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
    box-sizing: border-box;
}
.contenedorHabitaciones{
    padding: 30px;
    line-height: 22px;
}
.contenedorHabitaciones *{
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
}
.contenedorHabitaciones article p{
    font-size: 15px;
}
.contenedorHabitaciones ul li{
    font-size: 13px;
    list-style: none;
    padding: 0;
}
.grand-junior-suite{
    background-color: #eee8e5;
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: justify;
}
.grand-junior-suite img {
    max-width: 600px;
}
.superiorSuite{
    font-size: 15px;
    display: flex;
    align-items: center;
    text-align: justify;
    text-align-last: right;
    margin-top: 30px;
    margin-bottom: 30px;
}
.superiorSuite img{
    max-width: 600px;
    height: 400px;
}
.grand-junior-icons{
    display: flex;
    justify-content: end;
    max-width: 100%;
    font-size: 15px;
}
.superior-icons{
    display: flex;
    justify-content: start;
    max-width: 100%;
    font-size: 15px;
}
.grand-junior-boton{
    float: right;
    margin-right: 10px;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition-duration: 0.8s;
    color: white;
    background-color: rgb(77, 128, 221);
}
.grand-junior-boton:hover{
    background-color:white;
    color: #252525;
}
.superior-boton{
    float: left;
    margin-left: 10px;
    color: #252525;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition-duration: 0.8s;
    color: white;
    background-color: rgb(77, 128, 221);
}
.superior-boton:hover{
    background-color: #ccc;
    color: #252525;
}

@media only screen and (max-width:768px){

}
@media only screen and (max-width:576px){
/*generales*/
header{
    flex-direction: column;
    justify-content: center;
    position:static;
}
.nav__list{
    margin-bottom: 30px;
}
.boton a{
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer{
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
footer section{
    max-width: 100%;
}
/*index*/
.contenedorBase{
    flex-direction: column;
    align-items: center;
}
.contenedorHabIndex{
    flex-direction: column;
}
.titulo-transform{
    transform: rotate(-5deg) translate(-50px, -10px);
}
.checkinBtn{
    padding-top: 10px;
    padding-bottom: 10px;
}
/*actividades*/
.contenedorActividades{
    flex-direction: column;
}
/*contacto*/

.map{
    width: 500px;
}
/*habitaciones*/
.grand-junior-suite{
    flex-direction: column;
    justify-content: center;
}
.grand-junior-suite img{
    max-width: 500px;
}
.superiorSuite{
    flex-direction: column-reverse;
    justify-content: center;
    text-align-last: left;
}
.superiorSuite img{
    max-width: 500px;
}
.superior-icons{
    justify-content: end;
}
.superior-boton{
    float: right;
}
/*sobre nosotros*/
.sobreNosImg{
    max-width: 100%;
}
.fondo{
    max-width: 70%;
}
.text-transform{
    transform: translate(-100px)rotate(-40deg);
}
.galleryNos{
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}
.galleryNos__item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.galleryNos__item--2{
    grid-column: 1/2 ;
    grid-row: 2/3 ;
}
.galleryNos__item--3{
    grid-column:1/2 ;
    grid-row:3/4 ;
}
.galleryNos__item--4{
    grid-column: 1/2 ;
    grid-row: 4/5 ;
}
.galleryNos__item--5{
    grid-column: 1/2 ;
    grid-row:5/6 ;
}
}