.nosotrosBackImg {
    @include bgimg-sizes(100%, 400px );
    background-image: url(../assets/img/pagSobreNos/backimg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    box-sizing: border-box;
}
.sobreNosImg {
    max-width: 500px;
    padding: 20px;
    border: none;
}
.fondo {
    background-color: map-get($estilos , color-bgsections );
    padding: 30px;
    line-height: 30px;
    width: 60%;
    margin: 2rem auto;
}
.textTransform {
    font-family: "Waterfall", cursive;
    font-size: 90px;
    transform: translate(-200px, -190px) rotate(-40deg);
}
.list-facilities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 50px;
    list-style: none;
}
.boton-facilities {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #3e70fe;
}
.galleryNos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr repeat(2, 20vw);
    justify-content: center;
    gap: 10px;
}
.galleryNos__img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease all;
    &:hover {
        transform: scale(1.02);
    }
}
.galleryNos__item--1 {
    grid-column: 1/2;
    grid-row: 1/2;
}
.galleryNos__item--2 {
    grid-column: 2/3;
    grid-row: 1/2;
}
.galleryNos__item--3 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.galleryNos__item--4 {
    grid-column: 1/2;
    grid-row: 2/3;
}  
.galleryNos__item--5 {
    grid-column: 2/3;
    grid-row: 2/4;
}
.mapNosotros {
    width: 100%;
}